.blog-section {
  background-color: #EDF7FA;
  padding: 32px 20px 50px 20px;
  margin-right: 0;
}

.blog-header {
  padding-left: 0;
  margin-bottom: 20px;
}

.blog-header h2 {
  font-family: 'Heebo', sans-serif;
  font-size: 22px;
  color: #21243D;
  font-weight: 400;
}

.blog-container {
  gap: 20px;
  padding-left: 0;
}

.blog-card {
  background-color: #FFFFFF;
  width: 100%;
  max-width: 418px;
  min-height: 295px;
  border-radius: 4px;
  padding: 24px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  justify-content: flex-start;
  gap: 15px;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #21243D;
  margin: 0;
}

.card-info {
  gap: 15px;
  font-weight: 400;
  font-size: 16px;
  color: #21243D;
}

.card-separator {
  color: #21243D;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #21243D;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -line-clamp: 4;
  -webkit-box-orient: vertical;
}

@media (min-width: 768px) {
  .blog-section {
    padding-left: 50px;
    padding-right: 50px;
  }

  .blog-header {
    padding-left: 0;
    text-align: left;
  }

  .blog-container {
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .blog-section {
    padding-left: 0px;
    margin-right: 72px;
    padding-right: 61px;
  }

  .blog-header {
    padding-left: 163px;
  }

  .blog-container {
    padding-left: 163px;
    gap: 20px;
  }
  
  .card-title {
    font-size: 26px;
  }
}