@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Heebo", sans-serif;
  overflow-y: auto;
}

a {
  text-decoration: none;
}

.al-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.jc-center {
  justify-content: center;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-start {
  justify-content: start;
}

.jc-end {
  justify-content: end;
}

.text-center {
  text-align: center;
}

.fd-column {
  flex-direction: column;
}
